/*racegame styling*/
.head {
	color: white;
	text-align: center;
}

p.pButton {
	position: absolute;
	top: 5px;
	margin-left: 20px;
	color: white;
	border: solid 1px white;
	padding: 10px;
	font-size: 30px;
}

p.qButton {
	position: absolute;
	top: 5px;
	right: 0;
	margin-right: 40px;
	color: white;
	border: solid 1px white;
	padding: 10px;
	font-size: 30px;
}

#gamePage {
	background: url(../images/racebackground.jpg) no-repeat center center fixed;
	  -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

#timon {
	position: absolute;
	top: 200px;
	left: 5px;
	width: 120px;
}

#pumba {
	position: absolute;
	top: 400px;
	width: 120px;
	left: 5px;
}

.bug {
	position: absolute;
	top: 175px;
	margin-left: 600px;
}




/*Landing page styling*/
.landingpage {
	background-image: url(../images/landingpagebackground.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}


/*for the landing page enter container*/

h1 {
	margin-top: 60px;
}

.enter {
	color: white;
	margin: auto;
	text-align: center;
	vertical-align: middle;
	height: 200px;
    width: 400px;
    background: black;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}

#buttonEnter {
	font-size: 20px

}

@media (min-device-width: 768px) and (max-device-width: 1024px) {
	p.pButton, p.qButton {
		position: relative;
		float: left;
	}
#timon {
	position: absolute;
	top: 400px;
	left: 5px;
	width: 120px;
}

#pumba {
	position: absolute;
	top: 800px;
	width: 120px;
	left: 5px;
}

.bug {
	position: absolute;
	top: 350px;
	margin-left: 600px;
}

}

